<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Nunito+Sans:wght@400;600&display=swap');
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/api/v1/Books">Back</a>
                </li>
                <li>
                    <a href="/api/v1/Books/new">Add Book</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="section">
        <img src="/images/<%= book.cover_image %>" alt="<%=book.cover_imag%>">
        <h2>
            <%= book.title %>
        </h2>
        <cite>
            <%= book.name %>
        </cite>
        <p>
            <%= book.summary %>
        </p>
        <span>Pages: <%= book.pages %> </span>
        <p>Publication: <%= book.publication %>
        </p>
        <p>Category: <%= book.category %>
        </p>
        <div>
            <a href="/api/v1/Books/<%= book._id%>/edit">Edit</a>
            <a href="/api/v1/Books/<%= book._id%>/delete"">Delete</a>
    </div>
  <hr>
    <h2>Comments</h2>
    <form action=" /api/v2/Comments/<%=book._id%>/new" method="POST">
                <input type="text" name="title" placeholder="Comment">
                <input type="submit">
                </form>

                <% book.commentId.forEach((comment)=> { %>
                    <p>
                        <%= comment.title%>
                        <a href="/api/v2/Comments/<%=comment._id%>/edit">Edit</a>
                        <a href="/api/v2/Comments/<%=comment._id%>/delete">Delete</a>
                    </p>
                    <% }) %>
    </section>
</body>

</html>